// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

html,
body,
.root,
.spinner-wrapper {
    min-height: 100vh;
}
div {
    color: #324c5b;
}
a {
    text-decoration: none !important;
    color: #6c757d !important;
    font-weight: 600;
    font-size: 1.1em;
}
.link-success,
.link-success:hover,
.link-success:active {
    box-sizing: padding-box;
    padding-bottom: 1em;
    color: #12c48b !important;
    border-bottom: 2px solid #12c48b;
    text-decoration: none !important;
}
.spinner-border {
    align-self: center !important;
    width: 5em !important;
    height: 5em !important;
}
.gray-on-hover:hover {
    background: #f4f6f8;
}
.div.react-daterange-picker__inputGroup {
    padding: 1em !important;
}
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popover {
    max-width: 100vw !important;
}
.Toastify__toast-body {
    color: #fff !important;
}
.Toastify__toast--error {
    background: #c82333 !important;
}
.Toastify__toast--success {
    background: #12c48b !important;
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";
