// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

html,
body,
.root,
.spinner-wrapper {
    min-height: 100vh;
}
div {
    color: #324c5b;
}
a {
    text-decoration: none !important;
    color: #6c757d !important;
    font-weight: 600;
    font-size: 1.1em;
}
.link-success,
.link-success:hover,
.link-success:active {
    box-sizing: padding-box;
    padding-bottom: 1em;
    color: #12c48b !important;
    border-bottom: 2px solid #12c48b;
    text-decoration: none !important;
}
.spinner-border {
    align-self: center !important;
    width: 5em !important;
    height: 5em !important;
}
.gray-on-hover:hover {
    background: #f4f6f8;
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";
